/*Navbar*/
.navbar-brand {
    font-family: Raleway;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.content {
    margin: 0 7% 0 7%;
}
.projects {
    display: none;
}
/*Footer*/
footer {
    text-align: center;
    font-size: 26px;
}
.footer-links a {
    color: rgb(48, 52, 57);
}
.footer-links a:hover {
    color: rgb(151, 153, 155);
}
